{% extends 'base.html' %}

{% block content %}
    <div id="app">
        <form @submit.prevent="createTask">
            <div class="form-group row">
                <div class="col-9">
                    <label for="">Create new task</label>
                    <input type="text" class="form-control" v-model="task.title">
                    <label for="">Age of the car is: { age }</label>
                    <input type="text" class="form-control" v-model="age" placeholder="age of the car"
                           @keypress="validateNumber"/>
                    <label>Mileage of the car is: { mileage }</label>
                    <input type="text" class="form-control" v-model="mileage" placeholder="mileage of the car"
                           @keypress="validateNumber"/>
                    <label>Repairments number is: { repairments }</label>
                    <input type="text" class="form-control" v-model="repairments" placeholder="number of repairments"
                           @keypress="validateNumber"/>
                    <label>Brand price: { selected }</label>
                    <select v-model="selected" class="form-control" placeholder="car brand">
                        <option v-for="brand in brands" :value="brand.price">
                            { brand.name }
                        </option>
                    </select>
                    <div>
                        <label for="checkbox">All documents are in order</label>
                    </div>
                    <input type="checkbox" id="checkbox" v-model="checked"/>

                </div>
            </div>
            <div class="col-auto mt-auto">
                <button class="btn btn-success" type="submit">Create
                </button>
            </div>
        </form>

        <div class="mt-5">
            <div class="card mb-3" v-for="task, index in tasks" :key="index">
                <div class="card-body row justify-content-between px-4" @dblClick="completeTask(task)" :class="{'completed':
                task.completed}">
                    { task.title }
                    <button type="submit" class="btn-close" @click="deleteTask(task)"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
